<mat-sidenav-container>
    <mat-sidenav [(opened)]="openSidenav" mode="side" #sidenav role="navigation">
        <app-user></app-user>
        <app-sidenav-list fxHide.gt-xs (closeSidenav)="sidenav.close()"></app-sidenav-list>
        <app-sidenav-list fxHide.xs></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header fxHide.gt-xs (sidenavToggle)="sidenav.toggle()"></app-header>
        <app-header fxHide.xs></app-header>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>