<section class="user" fxLayout="column" fxLayoutAlign="left left">
    <div *ngIf="isAuth">
        <div id="pic">
            <button mat-icon-button disabled><img src="assets/users/buc.jpg" alt="user" class="profile-pic"> </button>
        </div>
        <div id="name">
            <b>Christoph Burki</b>
        </div>
        <div id="title">
            Head Business Architect
        </div>
    </div>
    <div *ngIf="!isAuth">
        <div id="pic">
            <button mat-icon-button disabled><img src="assets/users/online_payment.svg" alt="user" class="profile-pic"> </button>
        </div>
        <div id="name">
            <b>Web App</b>
        </div>
        <div id="title">
            Not logged in yet
        </div>
    </div>
</section>